PORT=8000
NODE_ENV=development

# MySQL Database Connection 
DATABASE_URL="mysql://avnadmin:PASSWORD@IP_ADDRESS:14382/defaultdb?ssl-mode=REQUIRED"

ACCESS_TOKEN_SECRET=your_secret_key_here
ACCESS_TOKEN_EXPIRY=1d
FRONTEND_URL=
COOKIE_SECRET=your_cookie_secret_here
